<a href="https://colab.research.google.com/github/Alyan130/python_assignments/blob/main/06_Build_Compose_and_Decorate_A_Complete_Traditional_OOP_Practice_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1) Use Self**

In [ ]:
class Student:
   def __init__(self,name,marks):
      self.name=name
      self.marks=marks

   def display(self):
       print(f"Student Info:\nName : {self.name}\nMarks : {self.marks}")


stud=Student("Alyan",25)
stud.display()

Student Info:
Name : Alyan
Marks : 25

**2. Using cls**

In [ ]:
class Counter:
  count=0
  def __init__(self):
   Counter.count+=1

  @classmethod
  def track_object(cls):
    print("Object created {} times".format(cls.count))


obj = Counter()
obj = Counter()
obj = Counter()
obj.track_object()

Object created 3 times

**3. Public Variables and Methods**

In [ ]:
class Car:
  def __init__(self):
     self.brand = "Rolls Royce"

  def start(self):
    print(f"{self.brand} started!")

car = Car()
print(car.brand)
car.start()

Rolls Royce
Rolls Royce started!

**4. Class Variables and Class Methods**

In [ ]:

class Bank:
  bank_name ="Habib Bank"
  def __init__(self,name):
     self.name = name
     self.bank = Bank.bank_name

  @classmethod
  def change_bank_name(cls,name):
     cls.bank_name = name

acc1 = Bank("Alyan")
acc2 = Bank("Murtuza")

print(f"Banks:\n{acc1.bank_name}\n{acc2.bank_name}")

acc1.change_bank_name("Allied Bank")

print(f"\nBanks:\n{acc1.bank_name}\n{acc2.bank_name}")

Banks:
Habib Bank
Habib Bank

Banks:
Allied Bank
Allied Bank

5**. Static Variables and Static Methods**

In [ ]:
class MathUtils:
   @staticmethod
   def add(a,b):
     sum = a + b
     return sum

num = MathUtils()
num.add(10,20)

30

**6. Constructors and Destructors**

In [ ]:
class Logger:
   def __init__(self):
     print("Constructor")

   def __del__(self):
      print("Destructor")


log = Logger()
del log

Constructor
Destructor

**7. Access Modifiers: Public, Private, and Protected**

In [ ]:
class Employee:
   def __init__(self,name,salary,ssn):
     self.name = name
     self._salary = salary
     self.__ssn = ssn


alyan = Employee("Alyan",35000,123456789)
print(alyan.name)
print(alyan.salary)
print(alyan.ssn)

Alyan

AttributeError: 'Employee' object has no attribute 'salary'

**8. The super() Function**

In [ ]:
class Person:
   def __init__(self,name):
      self.name = name


class Teacher(Person):
   def __init__(self,name,subject):
      super().__init__(name)
      self.subject = subject

   def teacher_details(self):
     print(f"Teacher name: {self.name}, subject: {self.subject}")

teacher = Teacher("Arif kasim","Python")
teacher.teacher_details()

Teacher name: Arif kasim, subject: Python

**9. Abstract Classes and Methods**

In [ ]:
from abc import ABC, abstractmethod

class Shape(ABC):
  @abstractmethod
  def area(self,width,length):
    pass

class Rectangle(Shape):
   def area(self,width,length):
     print(width*length)

rec = Rectangle()
rec.area(40,25)

1000

10. Instance Methods

In [ ]:
class Dog:
  def __init__(self,name,breed):
    self.name=name,
    self.breed=breed

  def bark(self):
     print(f"{self.name} barks!")

dog=Dog("Tommy","Huskey")
dog.bark()

('Tommy',) barks!

11. class Methods

In [ ]:
class book:
  total_books = 0
  def __init__(self):
    book.increament_book_count()

  @classmethod
  def increament_book_count(cls):
     cls.total_books+=1


for my_book in range(5):
   book()

print("total books",book.total_books,end=" ")

total books 5

12. Static Methods

In [ ]:
class TemperatureConverter:
  @staticmethod
  def celsuis_to_fahrenheit(val):
      celsius= (val * 9/5) + 32
      print(f"Temperature in Celsius is {celsius}")


conversion_1=TemperatureConverter()
conversion_2=TemperatureConverter()

conversion_1.celsuis_to_fahrenheit(33)
conversion_2.celsuis_to_fahrenheit(21)

Temperature in Celsius is 91.4
Temperature in Celsius is 69.8

13. Composition

In [ ]:
class Engine:
   def __init__(self,name):
    self.name = name

class Car:
   def __init__(self,name,model,engine):
     self.name = name
     self.model = model
     self.engine = Engine(engine)

   def car_info(self):
     print(f'''
    Car name = {self.name}
    model = {self.model}
    engine = {self.engine.name}
     ''')

car = Car("ford", "mustang","V-engine")
car.car_info()

    Car name = ford
    model = mustang
    engine = V-engine

14. Aggregation

In [ ]:
class Employee:
   def __init__(self,name,age,salary):
     self.name = name
     self.age = age
     self.salary = salary

   def work(self):
     print("Building ai gents")


class Department:
  def __init__(self,name,employee_info):
     self.name = name
     self.employee_info = employee_info

  def display(self):
     print(f'''
    Department name = {self.name}
    Employee name = {self.employee_info.name}
    age = {self.employee_info.age}
    salary = {self.employee_info.salary}
     ''')

emp = Employee("Alyan",20, 80000)
dep = Department("Computer Science",emp)

dep.display()
dep.employee_info.work()

    Department name = Computer Science
    Employee name = Alyan
    age = 20
    salary = 80000

Building ai gents

15. Method Resolution Order (MRO) and Diamond Inheritance

In [ ]:
class A:
   def show(self):
     print("Class A")

class B(A):
  def show(self):
    print("Class B")

class C(A):
  def show(self):
     print("Class C")

class D(B,C):
   pass

obj = D()
obj.show()

Class B

16. Function Decorators

In [ ]:
def log_function_call(func):
   def wrapper():
      print("function is being called")
      return func()
   return wrapper


@log_function_call
def say_hello():
   print("Hello")

say_hello()

function is being called
Hello

17. Class Decorators

In [ ]:
def add_greeting(cls):
   def greet(self):
     print("Hello from decorator!")

   cls.greet = greet
   return cls

@add_greeting
class Person:
  def __init__(self,name):
     self.name=name

p = Person("Alyan")
p.greet()

Hello from decorator!

18. Property Decorators: @property, @setter, and @deleter

In [21]:
class Product:
   def __init__(self,price):
     self.__price = price

   @property
   def price(self):
     return self.__price

   @price.setter
   def price(self,value):
     self.__price = value

   @price.deleter
   def price(self):
     print("object deleted")
     del self.__price


jacket = Product(80)
print(jacket.price)
jacket.price = 100
print(jacket.price)
del jacket.price

80
100
object deleted

19. callable() and __call__()

In [ ]:
class Multiplier:
  def __init__(self,factor):
    self.factor = factor

  def __call__(self,arg):
     return self.factor*arg

multi = Multiplier(5)
multi(10)

50

20. Creating a Custom Exception

In [ ]:
class InvalidAgeError(Exception):
   pass

def check_age(age):
   try:
     if age < 18:
       raise InvalidAgeError("Your age is smaller than 18")
   except InvalidAgeError as e:
     print(e)
   else:
     print("Your age is valid")

check_age(20)

Your age is valid

21. Make a Custom Class Iterable

In [ ]:
class Countdown:
   def __init__(self,value):
     self.current = value

   def __iter__(self):
     return self

   def __next__(self):
     if self.current < 0:
       raise StopIteration
     else:
       num = self.current
       self.current-=1
       return num


for i in Countdown(10):
   print(i)

10
9
8
7
6
5
4
3
2
1
0